.register-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container-card{
        margin-top: 40px;
    }
    
}
/* Esto seria innecesario pq con tailwind se puede colocar text-black y eliminar otras propiedades de text- y algun color */
.input-passw{
    color:black !important;
}