<div class=" flex justify-between gap-6 md:flex-row md:items-center ">
    <div class="capitalize">
      <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-800">CoinsWallet</h6>
    </div>
    <div>
      <p>
         {{user.name}}
      </p>
    </div>

    <div class="flex items-center ">
      
      <button class="xl:hidden p-2" (click)="sidebarService.toggle()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>


      
      <div class=" right-4 top-4 z-50">
          <button
          class="text-white-500 font-sans font-bold transition-all disabled:opacity-50 disabled:shadow-none 
           disabled:pointer-events-none text-xs py-3 rounded-lg shadow-md shadow-blue-500/20 
           hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] flex items-center gap-2 px-4 capitalize
           bg-gradient-to-r from-blue-600 to-blue-400
           w-auto sm:w-full"
          type="button"
          (click)="logout()"
        >
        
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor"
              class="w-5 h-5 sm:w-6 sm:h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6A2.25 2.25 0 005.25 5.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M18 12H9m0 0l3-3m-3 3l3 3" />
          </svg>

          <p>
            Logout
          </p>
        </button>
    </div>
       
    </div> 
    
  </div>
